[include]
    path="~/.gitconfig.local"

[core]
    autocrlf = false

[init]
    default = main

[pull]
    ff = only

[push]
    autoSetupRemote = true

[fetch]
    prune = true

[alias]
    # show log
    l = log --pretty=oneline --graph
    # ammend staged changes to last commit
    recommit = !"git commit --amend --no-edit"
    # soft reset previous commit
    uncommit = !"git reset --soft HEAD^"
    # hard reset to origin
    reset-origin = !"git reset --hard @{u}" 
    # force push with lease
    punch = !"git push --force-with-lease"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[safe]
	directory = *

[diff]
    wsErrorHighlight = all